# Importando

In [20]:
import pandas as pd

In [32]:
# Abrindo o arquivo csv
df = pd.read_csv("https://raw.githubusercontent.com/alquemistdev/Aprenda-Pandas/main/data/minecraft.csv",
                  encoding="UTF-8")

In [33]:
# Especificando o separador do arquivo
df = pd.read_csv("https://raw.githubusercontent.com/alquemistdev/Aprenda-Pandas/main/data/minecraft.csv",
                  encoding="UTF-8", sep=",")

# Comandos Extras

In [23]:

df = pd.read_csv("https://raw.githubusercontent.com/alquemistdev/Aprenda-Pandas/main/data/minecraft.csv",
                  encoding="UTF-8", sep=",", header=0)

In [24]:
# Especificando as colunas do arquivo
df = pd.read_csv("https://raw.githubusercontent.com/alquemistdev/Aprenda-Pandas/main/data/minecraft.csv",
                  encoding="UTF-8", sep=",", usecols=["age", "minecraftid"])

In [25]:
# Especificando as linhas do arquivo
df = pd.read_csv("https://raw.githubusercontent.com/alquemistdev/Aprenda-Pandas/main/data/minecraft.csv",
                  encoding="UTF-8", sep=",", nrows=10)

In [26]:
df.head()

,Unnamed: 0,age,discordid,minecraftid,client,version
0,0,14.0,ProGamer300#3331,ProGamer300,Computer ( Java Edition ),Cracked
1,1,19.0,@shrey#4934,shrey_jain_,Computer ( Java Edition ),Cracked
2,2,18.0,Skullfaced#8657,Skullfaceddeath,Computer ( Java Edition ),Paid Version
3,3,17.0,Op DzGhOsT#8719,DzGHoST1737,Computer ( Java Edition ),Cracked
4,4,15.0,Dwijesh#6020,Dwijesh YT,Mobile ( bedrock version ),Paid Version

# Selecionando os dados

In [ ]:
df.head()

In [ ]:
# Selecionando uma coluna por índice
df['client'].head()

In [ ]:
# Selecionando mais uma coluna por índice
df[['age', 'client']].head()

In [ ]:
# Selecionando uma e somente uma por notação de ponto
df.client.head()

In [ ]:
# Adicionando nova coluna
df['info'] = df['minecraftid'] + " " + df['client']
df['info'].head()

1. Usando loc para selecionar dados, essa forma é como se fosse um vetor de linhas

In [50]:
# A primeira
df.loc[0]

Unnamed: 0                                          0
age                                              14.0
discordid                            ProGamer300#3331
minecraftid                              ProGamer300
client                      Computer ( Java Edition )
version                                       Cracked
info           ProGamer300  Computer ( Java Edition )
Name: 0, dtype: object

In [51]:
# Intervalo
df.loc[0:3]

,Unnamed: 0,age,discordid,minecraftid,client,version,info
0,0,14.0,ProGamer300#3331,ProGamer300,Computer ( Java Edition ),Cracked,ProGamer300 Computer ( Java Edition )
1,1,19.0,@shrey#4934,shrey_jain_,Computer ( Java Edition ),Cracked,shrey_jain_ Computer ( Java Edition )
2,2,18.0,Skullfaced#8657,Skullfaceddeath,Computer ( Java Edition ),Paid Version,Skullfaceddeath Computer ( Java Edition )
3,3,17.0,Op DzGhOsT#8719,DzGHoST1737,Computer ( Java Edition ),Cracked,DzGHoST1737 Computer ( Java Edition )

In [52]:
# Selecionando unicas
df.loc[[1, 3, 4]]

,Unnamed: 0,age,discordid,minecraftid,client,version,info
1,1,19.0,@shrey#4934,shrey_jain_,Computer ( Java Edition ),Cracked,shrey_jain_ Computer ( Java Edition )
3,3,17.0,Op DzGhOsT#8719,DzGHoST1737,Computer ( Java Edition ),Cracked,DzGHoST1737 Computer ( Java Edition )
4,4,15.0,Dwijesh#6020,Dwijesh YT,Mobile ( bedrock version ),Paid Version,Dwijesh YT Mobile ( bedrock version )

In [53]:
# Selecionando intervalo e coluna especifica
df.loc[1:3, "minecraftid"]

1        shrey_jain_
2    Skullfaceddeath
3       DzGHoST1737
Name: minecraftid, dtype: object

In [54]:
# Selecionando intervalo e mais de uma coluna especifica
df.loc[1:3, ["version", "minecraftid"]]

        version      minecraftid
1       Cracked      shrey_jain_
2  Paid Version  Skullfaceddeath
3       Cracked     DzGHoST1737

In [59]:
# Selecionando intervalo e intervalo de colunas
df.loc[1:3, "minecraftid": "version"]

       minecraftid                     client       version
1      shrey_jain_  Computer ( Java Edition )       Cracked
2  Skullfaceddeath  Computer ( Java Edition )  Paid Version
3     DzGHoST1737   Computer ( Java Edition )       Cracked

2. Usando iloc para selecionar dados, em forma de intervalo

In [60]:
# Selecionado dois dados do 0 ao 1
df.iloc[0:2]

,Unnamed: 0,age,discordid,minecraftid,client,version,info
0,0,14.0,ProGamer300#3331,ProGamer300,Computer ( Java Edition ),Cracked,ProGamer300 Computer ( Java Edition )
1,1,19.0,@shrey#4934,shrey_jain_,Computer ( Java Edition ),Cracked,shrey_jain_ Computer ( Java Edition )

In [62]:
# Selecionado dois dados do 0 ao 1, da coluna 0 a 1
df.iloc[0:2, 0:2]

   Unnamed: 0   age
0           0  14.0
1           1  19.0

# Ordenando dados

In [79]:
# Ordenando por idade
df.sort_values(by=["minecraftid"]).head()
df.sort_values(by=["minecraftid", "age"]).head()

,Unnamed: 0,age,discordid,minecraftid,client,version,info
508,508,18.0,ThunderBird#7822,aviral21,Computer ( Java Edition ),Cracked,aviral21 Computer ( Java Edition )
519,519,18.0,Hink#6241,C00lSprint,Computer ( Java Edition ),Paid Version,C00lSprint Computer ( Java Edition )
853,853,20.0,KRITIKAL#2796,kritika.18,Computer ( Java Edition ),Cracked,kritika.18 Computer ( Java Edition )
736,736,1.0,@! ♛Skull々XMEN♛#0358,! ♛Skull々XMEN♛#0358,Computer ( Java Edition ),Cracked,! ♛Skull々XMEN♛#0358 Computer ( Java Edition )
1210,1210,19.0,@ShIvAmKaUsHaL#0811,0_ShIvAmKaUsHaL,Computer ( Java Edition ),Paid Version,0_ShIvAmKaUsHaL Computer ( Java Edition )

In [75]:
# Ordenando por idade
df.sort_values('age', inplace=True)
df.head()

,Unnamed: 0,age,discordid,minecraftid,client,version,info
1214,1214,1.0,CursedGalexy#5415,CursedGalexy,Computer ( Java Edition ),Cracked,CursedGalexy Computer ( Java Edition )
574,574,1.0,rhino_00,Rhino12134,Mobile ( bedrock version ),Cracked,Rhino12134 Mobile ( bedrock version )
736,736,1.0,@! ♛Skull々XMEN♛#0358,! ♛Skull々XMEN♛#0358,Computer ( Java Edition ),Cracked,! ♛Skull々XMEN♛#0358 Computer ( Java Edition )
532,532,1.0,RLD VLOGS,RAHEEL DHOTE,Mobile ( bedrock version ),Paid Version,RAHEEL DHOTE Mobile ( bedrock version )
512,512,1.0,@RLD VLOGS,RAHEEL DHOTE,Computer ( Java Edition ),Paid Version,RAHEEL DHOTE Computer ( Java Edition )

In [81]:
# Ordenando em ordem crescente
df.sort_values('age', ascending=False)

,Unnamed: 0,age,discordid,minecraftid,client,version,info
674,674,43.0,@Grozaboy7566#5207,Adityavir,Computer ( Java Edition ),Cracked,Adityavir Computer ( Java Edition )
590,590,43.0,ishan#3208,ishanisnub22,Computer ( Java Edition ),Cracked,ishanisnub22 Computer ( Java Edition )
601,601,43.0,DIVINE STARLIT#6446,DIVINE STARLIT,Computer ( Java Edition ),Cracked,DIVINE STARLIT Computer ( Java Edition )
614,614,39.0,Dev Verma#2425,DEVVERMA123,Computer ( Java Edition ),Cracked,DEVVERMA123 Computer ( Java Edition )
493,493,39.0,Hardik Jain#0495,Hardik,Computer ( Java Edition ),Cracked,Hardik Computer ( Java Edition )
...,...,...,...,...,...,...,...
1063,1063,1.0,Gaming Don#8233,Monk84,Computer ( Java Edition ),Paid Version,Monk84 Computer ( Java Edition )
1361,1361,1.0,Cyborg Gamerz#9141,CYBORGBHAI,Computer ( Java Edition ),Cracked,CYBORGBHAI Computer ( Java Edition )
605,605,1.0,Pizzla#3417,Scardiewithouty,Mobile ( bedrock version ),Paid Version,Scardiewithouty Mobile ( bedrock version )
1214,1214,1.0,CursedGalexy#5415,CursedGalexy,Computer ( Java Edition ),Cracked,CursedGalexy Computer ( Java Edition )
1105,1105,NaN,arpitoooppp#0379,arpit_01,Computer ( Java Edition ),Cracked,arpit_01 Computer ( Java Edition )

In [83]:
# Ordenando mais de uma em ordem crescente
df.sort_values(['age', 'minecraftid'], ascending=[False, True]).head()

,Unnamed: 0,age,discordid,minecraftid,client,version,info
674,674,43.0,@Grozaboy7566#5207,Adityavir,Computer ( Java Edition ),Cracked,Adityavir Computer ( Java Edition )
601,601,43.0,DIVINE STARLIT#6446,DIVINE STARLIT,Computer ( Java Edition ),Cracked,DIVINE STARLIT Computer ( Java Edition )
590,590,43.0,ishan#3208,ishanisnub22,Computer ( Java Edition ),Cracked,ishanisnub22 Computer ( Java Edition )
614,614,39.0,Dev Verma#2425,DEVVERMA123,Computer ( Java Edition ),Cracked,DEVVERMA123 Computer ( Java Edition )
493,493,39.0,Hardik Jain#0495,Hardik,Computer ( Java Edition ),Cracked,Hardik Computer ( Java Edition )

# Filter para selecionar colunas

In [84]:
# Por itens
df.filter(items=["age", "minecraftid"]).head()

      age           minecraftid
1214  1.0          CursedGalexy
574   1.0            Rhino12134
736   1.0  ! ♛Skull々XMEN♛#0358
532   1.0          RAHEEL DHOTE
512   1.0          RAHEEL DHOTE

In [90]:
# Por like
df.filter(like="i").head()

,discordid,minecraftid,client,version,info
1214,CursedGalexy#5415,CursedGalexy,Computer ( Java Edition ),Cracked,CursedGalexy Computer ( Java Edition )
574,rhino_00,Rhino12134,Mobile ( bedrock version ),Cracked,Rhino12134 Mobile ( bedrock version )
736,@! ♛Skull々XMEN♛#0358,! ♛Skull々XMEN♛#0358,Computer ( Java Edition ),Cracked,! ♛Skull々XMEN♛#0358 Computer ( Java Edition )
532,RLD VLOGS,RAHEEL DHOTE,Mobile ( bedrock version ),Paid Version,RAHEEL DHOTE Mobile ( bedrock version )
512,@RLD VLOGS,RAHEEL DHOTE,Computer ( Java Edition ),Paid Version,RAHEEL DHOTE Computer ( Java Edition )

In [93]:
# Por expressão regular
df.filter(regex='mine.')
df.filter(regex='.[0-9]+')

      Unnamed: 0
1214        1214
574          574
736          736
532          532
512          512
...          ...
614          614
601          601
590          590
674          674
1105        1105

[1423 rows x 1 columns]

# Operadores e vetores logicos

In [101]:
# Para usar operadores logicos é necessario especificar todos
df.loc[0:2,[True, False, True, False, False, False, False]]

      Unnamed: 0              discordid
0              0       ProGamer300#3331
1422        1422    ToughGamer2121#9555
193          193             triju#7621
82            82          Kaitokid#8916
158          158                  #1489
...          ...                    ...
1148        1148          ZEEL8704#9017
1167        1167     5 Industrial #4019
1039        1039  @Crossface_Gamer#9338
1164        1164           Dikshit#1957
2              2        Skullfaced#8657

[798 rows x 2 columns]

In [103]:
# Listar verificando se é crackado
df.version == "Cracked"

1214     True
574      True
736      True
532     False
512     False
        ...
614      True
601      True
590      True
674      True
1105     True
Name: version, Length: 1423, dtype: bool

In [104]:
# Listar filtrando verificando se é crackado
df[df.version == "Cracked"].head()

,Unnamed: 0,age,discordid,minecraftid,client,version,info
1214,1214,1.0,CursedGalexy#5415,CursedGalexy,Computer ( Java Edition ),Cracked,CursedGalexy Computer ( Java Edition )
574,574,1.0,rhino_00,Rhino12134,Mobile ( bedrock version ),Cracked,Rhino12134 Mobile ( bedrock version )
736,736,1.0,@! ♛Skull々XMEN♛#0358,! ♛Skull々XMEN♛#0358,Computer ( Java Edition ),Cracked,! ♛Skull々XMEN♛#0358 Computer ( Java Edition )
337,337,1.0,Nafizx01,DarkxNafiz,Computer ( Java Edition ),Cracked,DarkxNafiz Computer ( Java Edition )
866,866,1.0,𝐄ŁIT𝐄 || Savage Sam Yt#9323,Savagesam9482,Computer ( Java Edition ),Cracked,Savagesam9482 Computer ( Java Edition )

In [115]:
# Operador logico 'E' - &
# Listar filtrando verificando se é crackado e mostrando somente o id e a idade
df[(df.version == "Cracked") & (df.age >= 18)][['minecraftid','age']]

         minecraftid   age
1155         Sahib69  18.0
1174   furqan shaikh  18.0
1053      ShadowKing  18.0
69       GravityFx28  18.0
1156   rohitjadhav08  18.0
...              ...   ...
493           Hardik  39.0
614      DEVVERMA123  39.0
601   DIVINE STARLIT  43.0
590     ishanisnub22  43.0
674        Adityavir  43.0

[334 rows x 2 columns]

In [118]:
# Operador logico 'Ou' - |
# Listar filtrando verificando se é crackado, maior de idade e usa pc ou celular
df[(df.version == "Cracked") & (df.age >= 18) & ((df.client == "Computer ( Java Edition )") | (df.client == "Mobile ( bedrock version )"))]

,Unnamed: 0,age,discordid,minecraftid,client,version,info
1155,1155,18.0,Drunken Daddy#0898,Sahib69,Computer ( Java Edition ),Cracked,Sahib69 Computer ( Java Edition )
1174,1174,18.0,furqan#4491,furqan shaikh,Computer ( Java Edition ),Cracked,furqan shaikh Computer ( Java Edition )
1053,1053,18.0,@Shadow_King_47#7569,ShadowKing,Computer ( Java Edition ),Cracked,ShadowKing Computer ( Java Edition )
69,69,18.0,@Xion.Gravity#8840,GravityFx28,Mobile ( bedrock version ),Cracked,GravityFx28 Mobile ( bedrock version )
1156,1156,18.0,@ROHIT#1872,rohitjadhav08,Computer ( Java Edition ),Cracked,rohitjadhav08 Computer ( Java Edition )
...,...,...,...,...,...,...,...
493,493,39.0,Hardik Jain#0495,Hardik,Computer ( Java Edition ),Cracked,Hardik Computer ( Java Edition )
614,614,39.0,Dev Verma#2425,DEVVERMA123,Computer ( Java Edition ),Cracked,DEVVERMA123 Computer ( Java Edition )
601,601,43.0,DIVINE STARLIT#6446,DIVINE STARLIT,Computer ( Java Edition ),Cracked,DIVINE STARLIT Computer ( Java Edition )
590,590,43.0,ishan#3208,ishanisnub22,Computer ( Java Edition ),Cracked,ishanisnub22 Computer ( Java Edition )
674,674,43.0,@Grozaboy7566#5207,Adityavir,Computer ( Java Edition ),Cracked,Adityavir Computer ( Java Edition )

In [122]:
# Operador logico 'Ou' - |
# Listar filtrando verificando se é crackado, maior de idade e usa pc ou celular, usando ISIN
df[(df.version == "Cracked") & (df.age >= 18) & (df.client.isin(["Computer ( Java Edition )","Mobile ( bedrock version )"]))]

,Unnamed: 0,age,discordid,minecraftid,client,version,info
1155,1155,18.0,Drunken Daddy#0898,Sahib69,Computer ( Java Edition ),Cracked,Sahib69 Computer ( Java Edition )
1174,1174,18.0,furqan#4491,furqan shaikh,Computer ( Java Edition ),Cracked,furqan shaikh Computer ( Java Edition )
1053,1053,18.0,@Shadow_King_47#7569,ShadowKing,Computer ( Java Edition ),Cracked,ShadowKing Computer ( Java Edition )
69,69,18.0,@Xion.Gravity#8840,GravityFx28,Mobile ( bedrock version ),Cracked,GravityFx28 Mobile ( bedrock version )
1156,1156,18.0,@ROHIT#1872,rohitjadhav08,Computer ( Java Edition ),Cracked,rohitjadhav08 Computer ( Java Edition )
...,...,...,...,...,...,...,...
493,493,39.0,Hardik Jain#0495,Hardik,Computer ( Java Edition ),Cracked,Hardik Computer ( Java Edition )
614,614,39.0,Dev Verma#2425,DEVVERMA123,Computer ( Java Edition ),Cracked,DEVVERMA123 Computer ( Java Edition )
601,601,43.0,DIVINE STARLIT#6446,DIVINE STARLIT,Computer ( Java Edition ),Cracked,DIVINE STARLIT Computer ( Java Edition )
590,590,43.0,ishan#3208,ishanisnub22,Computer ( Java Edition ),Cracked,ishanisnub22 Computer ( Java Edition )
674,674,43.0,@Grozaboy7566#5207,Adityavir,Computer ( Java Edition ),Cracked,Adityavir Computer ( Java Edition )

In [140]:
# Operador logico 'E' - &
# Listar filtrando verificando se usa pc ou celular, usando ISIN com label e dict
filtro = df.isin(
    {
        "client" : [ "Computer ( Java Edition )" , "Mobile ( bedrock version )" ]
    }
)
df[(df.version == "Cracked") & (df.age >= 18) & (filtro.client)].head()

,Unnamed: 0,age,discordid,minecraftid,client,version,info
1155,1155,18.0,Drunken Daddy#0898,Sahib69,Computer ( Java Edition ),Cracked,Sahib69 Computer ( Java Edition )
1174,1174,18.0,furqan#4491,furqan shaikh,Computer ( Java Edition ),Cracked,furqan shaikh Computer ( Java Edition )
1053,1053,18.0,@Shadow_King_47#7569,ShadowKing,Computer ( Java Edition ),Cracked,ShadowKing Computer ( Java Edition )
69,69,18.0,@Xion.Gravity#8840,GravityFx28,Mobile ( bedrock version ),Cracked,GravityFx28 Mobile ( bedrock version )
1156,1156,18.0,@ROHIT#1872,rohitjadhav08,Computer ( Java Edition ),Cracked,rohitjadhav08 Computer ( Java Edition )

# Agrupamento

In [149]:
# Media de idade das pessoas que jogam minecraft
df.age.mean()

16.740506329113924

In [ ]:
# Media de idade das pessoas que usam a versão pirata
df[df.version == "Cracked"].age.mean()

In [174]:
# Agrupando coluna
df[['version','age']].groupby(['version']).mean()

                    age
version
Cracked       16.682251
Paid Version  16.992509

In [180]:
# Agrupando mais de uma coluna
df[['version', 'client','age']].groupby(['client','version']).mean()

                                               age
client                     version
Computer ( Java Edition )  Cracked       16.647482
                           Paid Version  17.081081
Mobile ( bedrock version ) Cracked       16.868132
                           Paid Version  16.792683