In [20]:
import pandas as pd

In [32]:
# Abrindo o arquivo csv
df = pd.read_csv("https://raw.githubusercontent.com/alquemistdev/Aprenda-Pandas/main/data/minecraft.csv",
                  encoding="UTF-8")

In [33]:
# Especificando o separador do arquivo
df = pd.read_csv("https://raw.githubusercontent.com/alquemistdev/Aprenda-Pandas/main/data/minecraft.csv",
                  encoding="UTF-8", sep=",")

# Comandos Extras

In [23]:

df = pd.read_csv("https://raw.githubusercontent.com/alquemistdev/Aprenda-Pandas/main/data/minecraft.csv",
                  encoding="UTF-8", sep=",", header=0)

In [24]:
# Especificando as colunas do arquivo
df = pd.read_csv("https://raw.githubusercontent.com/alquemistdev/Aprenda-Pandas/main/data/minecraft.csv",
                  encoding="UTF-8", sep=",", usecols=["age", "minecraftid"])

In [25]:
# Especificando as linhas do arquivo
df = pd.read_csv("https://raw.githubusercontent.com/alquemistdev/Aprenda-Pandas/main/data/minecraft.csv",
                  encoding="UTF-8", sep=",", nrows=10)

In [26]:
df.head()

,Unnamed: 0,age,discordid,minecraftid,client,version
0,0,14.0,ProGamer300#3331,ProGamer300,Computer ( Java Edition ),Cracked
1,1,19.0,@shrey#4934,shrey_jain_,Computer ( Java Edition ),Cracked
2,2,18.0,Skullfaced#8657,Skullfaceddeath,Computer ( Java Edition ),Paid Version
3,3,17.0,Op DzGhOsT#8719,DzGHoST1737,Computer ( Java Edition ),Cracked
4,4,15.0,Dwijesh#6020,Dwijesh YT,Mobile ( bedrock version ),Paid Version

# Selecionando os dados

In [ ]:
df.head()

In [ ]:
# Selecionando uma por índice
df['client'].head()

df[['age', 'client']].head()

In [ ]:
# Selecionando uma e somente uma por notação de ponto
df.client.head()

In [ ]:
# Adicionando nova coluna
df['info'] = df['minecraftid'] + " " + df['client']
df['info'].head()

1. Usando loc para selecionar dados, essa forma é como se fosse um vetor de linhas

In [50]:
# A primeira
df.loc[0]

Unnamed: 0                                          0
age                                              14.0
discordid                            ProGamer300#3331
minecraftid                              ProGamer300
client                      Computer ( Java Edition )
version                                       Cracked
info           ProGamer300  Computer ( Java Edition )
Name: 0, dtype: object

In [51]:
# Intervalo
df.loc[0:3]

,Unnamed: 0,age,discordid,minecraftid,client,version,info
0,0,14.0,ProGamer300#3331,ProGamer300,Computer ( Java Edition ),Cracked,ProGamer300 Computer ( Java Edition )
1,1,19.0,@shrey#4934,shrey_jain_,Computer ( Java Edition ),Cracked,shrey_jain_ Computer ( Java Edition )
2,2,18.0,Skullfaced#8657,Skullfaceddeath,Computer ( Java Edition ),Paid Version,Skullfaceddeath Computer ( Java Edition )
3,3,17.0,Op DzGhOsT#8719,DzGHoST1737,Computer ( Java Edition ),Cracked,DzGHoST1737 Computer ( Java Edition )

In [52]:
# Selecionando unicas
df.loc[[1, 3, 4]]

,Unnamed: 0,age,discordid,minecraftid,client,version,info
1,1,19.0,@shrey#4934,shrey_jain_,Computer ( Java Edition ),Cracked,shrey_jain_ Computer ( Java Edition )
3,3,17.0,Op DzGhOsT#8719,DzGHoST1737,Computer ( Java Edition ),Cracked,DzGHoST1737 Computer ( Java Edition )
4,4,15.0,Dwijesh#6020,Dwijesh YT,Mobile ( bedrock version ),Paid Version,Dwijesh YT Mobile ( bedrock version )

In [53]:
# Selecionando intervalo e coluna especifica
df.loc[1:3, "minecraftid"]

1        shrey_jain_
2    Skullfaceddeath
3       DzGHoST1737
Name: minecraftid, dtype: object

In [54]:
# Selecionando intervalo e mais de uma coluna especifica
df.loc[1:3, ["version", "minecraftid"]]

        version      minecraftid
1       Cracked      shrey_jain_
2  Paid Version  Skullfaceddeath
3       Cracked     DzGHoST1737

In [59]:
# Selecionando intervalo e intervalo de colunas
df.loc[1:3, "minecraftid": "version"]

       minecraftid                     client       version
1      shrey_jain_  Computer ( Java Edition )       Cracked
2  Skullfaceddeath  Computer ( Java Edition )  Paid Version
3     DzGHoST1737   Computer ( Java Edition )       Cracked

2. Usando iloc para selecionar dados, em forma de intervalo

In [60]:
# Selecionado dois dados do 0 ao 1
df.iloc[0:2]

,Unnamed: 0,age,discordid,minecraftid,client,version,info
0,0,14.0,ProGamer300#3331,ProGamer300,Computer ( Java Edition ),Cracked,ProGamer300 Computer ( Java Edition )
1,1,19.0,@shrey#4934,shrey_jain_,Computer ( Java Edition ),Cracked,shrey_jain_ Computer ( Java Edition )

In [62]:
# Selecionado dois dados do 0 ao 1, da coluna 0 a 1
df.iloc[0:2, 0:2]

   Unnamed: 0   age
0           0  14.0
1           1  19.0